.git
.gitignore
.dockerignore
docker-compose.yml
docker-compose.override.yml
utilities
webserver
firefox-chrome
.vscode
.idea
node_modules
styles/tailwind.css
browsersettings.conf*
init*.*
scripts/no-cache-http-server.py
README.md
AGENTS.md
